@font-face {
  font-family: 'widgets';
  src:  url('fonts/widgets.eot?k07ng3');
  src:  url('fonts/widgets.eot?k07ng3#iefix') format('embedded-opentype'),
    url('fonts/widgets.ttf?k07ng3') format('truetype'),
    url('fonts/widgets.woff?k07ng3') format('woff'),
    url('fonts/widgets.svg?k07ng3#widgets') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'widgets' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow-45-up-right:before {
  content: "\e000";
}
.i-arrow-45-down-right:before {
  content: "\e001";
}
.i-arrow-45-down-left:before {
  content: "\e002";
}
.i-arrow-45-up-left:before {
  content: "\e003";
}
.i-arrow-60-up:before {
  content: "\e004";
}
.i-arrow-60-right:before {
  content: "\e005";
}
.i-arrow-60-down:before {
  content: "\e006";
}
.i-arrow-60-left:before {
  content: "\e007";
}
.i-arrow-end-up:before {
  content: "\e008";
}
.i-arrow-end-right:before {
  content: "\e009";
}
.i-arrow-end-down:before {
  content: "\e00a";
}
.i-arrow-end-left:before {
  content: "\e00b";
}
.i-arrow-double-60-up:before {
  content: "\e00c";
}
.i-arrow-double-60-right:before {
  content: "\e00d";
}
.i-arrow-double-60-down:before {
  content: "\e00e";
}
.i-arrow-double-60-left:before {
  content: "\e00f";
}
.i-arrows-kpi:before {
  content: "\e010";
}
.i-arrows-no-change:before {
  content: "\e011";
}
.i-arrow-overflow-down:before {
  content: "\e012";
}
.i-arrow-chevron-up:before {
  content: "\e013";
}
.i-arrow-chevron-right:before {
  content: "\e014";
}
.i-arrow-chevron-down:before {
  content: "\e015";
}
.i-arrow-chevron-left:before {
  content: "\e016";
}
.i-arrow-up:before {
  content: "\e017";
}
.i-arrow-right:before {
  content: "\e018";
}
.i-arrow-down:before {
  content: "\e019";
}
.i-arrow-left:before {
  content: "\e01a";
}
.i-arrow-drill:before {
  content: "\e01b";
}
.i-arrow-parent:before {
  content: "\e01c";
}
.i-arrow-root:before {
  content: "\e01d";
}
.i-arrows-resizing:before {
  content: "\e01e";
}
.i-arrows-dimensions:before {
  content: "\e01f";
}
.i-arrows-swap:before {
  content: "\e020";
}
.i-drag-and-drop:before {
  content: "\e021";
}
.i-categorize:before {
  content: "\e022";
}
.i-grid:before {
  content: "\e023";
}
.i-grid-layout:before {
  content: "\e024";
}
.i-group:before {
  content: "\e025";
}
.i-ungroup:before {
  content: "\e026";
}
.i-handler-drag:before {
  content: "\e027";
}
.i-layout:before {
  content: "\e028";
}
.i-layout-1-by-4:before {
  content: "\e029";
}
.i-layout-2-by-2:before {
  content: "\e02a";
}
.i-layout-side-by-side:before {
  content: "\e02b";
}
.i-layout-stacked:before {
  content: "\e02c";
}
.i-columns:before {
  content: "\e02d";
}
.i-rows:before {
  content: "\e02e";
}
.i-reorder:before {
  content: "\e02f";
}
.i-menu:before {
  content: "\e030";
}
.i-more-vertical:before {
  content: "\e031";
}
.i-more-horizontal:before {
  content: "\e032";
}
.i-undo:before {
  content: "\e100";
}
.i-redo:before {
  content: "\e101";
}
.i-reset:before {
  content: "\e102";
}
.i-reload:before {
  content: "\e103";
}
.i-non-recurrence:before {
  content: "\e104";
}
.i-reset-sm:before {
  content: "\e105";
}
.i-reload-sm:before {
  content: "\e106";
}
.i-clock:before {
  content: "\e107";
}
.i-calendar:before {
  content: "\e108";
}
.i-save:before {
  content: "\e109";
}
.i-print:before {
  content: "\e10a";
}
.i-edit:before {
  content: "\e10b";
}
.i-delete:before {
  content: "\e10c";
}
.i-attachment:before {
  content: "\e10d";
}
.i-attachment-45:before {
  content: "\e10e";
}
.i-link-horizontal:before {
  content: "\e10f";
}
.i-unlink-horizontal:before {
  content: "\e110";
}
.i-link-vertical:before {
  content: "\e111";
}
.i-unlink-vertical:before {
  content: "\e112";
}
.i-lock:before {
  content: "\e113";
}
.i-unlock:before {
  content: "\e114";
}
.i-cancel:before {
  content: "\e115";
}
.i-cancel-outline:before {
  content: "\e116";
}
.i-cancel-circle:before {
  content: "\e117";
}
.i-check:before {
  content: "\e118";
}
.i-check-outline:before {
  content: "\e119";
}
.i-check-circle:before {
  content: "\e11a";
}
.i-close:before {
  content: "\e11b";
}
.i-close-outline:before {
  content: "\e11c";
}
.i-close-circle:before {
  content: "\e11d";
}
.i-plus:before {
  content: "\e11e";
}
.i-plus-outline:before {
  content: "\e11f";
}
.i-plus-circle:before {
  content: "\e120";
}
.i-minus:before {
  content: "\e121";
}
.i-minus-outline:before {
  content: "\e122";
}
.i-minus-circle:before {
  content: "\e123";
}
.i-sort-asc:before {
  content: "\e124";
}
.i-sort-desc:before {
  content: "\e125";
}
.i-unsort:before {
  content: "\e126";
}
.i-sort-asc-sm:before {
  content: "\e127";
}
.i-sort-desc-sm:before {
  content: "\e128";
}
.i-filter:before {
  content: "\e129";
}
.i-filter-clear:before {
  content: "\e12a";
}
.i-filter-sm:before {
  content: "\e12b";
}
.i-filter-sort-asc-sm:before {
  content: "\e12c";
}
.i-filter-sort-desc-sm:before {
  content: "\e12d";
}
.i-filter-add-expression:before {
  content: "\e12e";
}
.i-filter-add-group:before {
  content: "\e12f";
}
.i-login:before {
  content: "\e130";
}
.i-logout:before {
  content: "\e131";
}
.i-download:before {
  content: "\e132";
}
.i-upload:before {
  content: "\e133";
}
.i-hyperlink-open:before {
  content: "\e134";
}
.i-hyperlink-open-sm:before {
  content: "\e135";
}
.i-launch:before {
  content: "\e136";
}
.i-window:before {
  content: "\e137";
}
.i-windows:before {
  content: "\e138";
}
.i-window-minimize:before {
  content: "\e139";
}
.i-gear:before {
  content: "\e13a";
}
.i-gears:before {
  content: "\e13b";
}
.i-wrench:before {
  content: "\e13c";
}
.i-preview:before {
  content: "\e13d";
}
.i-zoom:before {
  content: "\e13e";
}
.i-zoom-in:before {
  content: "\e13f";
}
.i-zoom-out:before {
  content: "\e140";
}
.i-pan:before {
  content: "\e141";
}
.i-calculator:before {
  content: "\e142";
}
.i-cart:before {
  content: "\e143";
}
.i-connector:before {
  content: "\e144";
}
.i-plus-sm:before {
  content: "\e145";
}
.i-minus-sm:before {
  content: "\e146";
}
.i-kpi-status-deny:before {
  content: "\e147";
}
.i-kpi-status-hold:before {
  content: "\e148";
}
.i-kpi-status-open:before {
  content: "\e149";
}
.i-play:before {
  content: "\e200";
}
.i-pause:before {
  content: "\e201";
}
.i-stop:before {
  content: "\e202";
}
.i-rewind:before {
  content: "\e203";
}
.i-forward:before {
  content: "\e204";
}
.i-volume-down:before {
  content: "\e205";
}
.i-volume-up:before {
  content: "\e206";
}
.i-volume-off:before {
  content: "\e207";
}
.i-hd:before {
  content: "\e208";
}
.i-subtitles:before {
  content: "\e209";
}
.i-playlist:before {
  content: "\e20a";
}
.i-audio:before {
  content: "\e20b";
}
.i-play-sm:before {
  content: "\e20c";
}
.i-pause-sm:before {
  content: "\e20d";
}
.i-stop-sm:before {
  content: "\e20e";
}
.i-heart-outline:before {
  content: "\e300";
}
.i-heart:before {
  content: "\e301";
}
.i-star-outline:before {
  content: "\e302";
}
.i-star:before {
  content: "\e303";
}
.i-checkbox:before {
  content: "\e304";
}
.i-checkbox-checked:before {
  content: "\e305";
}
.i-tri-state-indeterminate:before {
  content: "\e306";
}
.i-tri-state-null:before {
  content: "\e307";
}
.i-circle:before {
  content: "\e308";
}
.i-radiobutton:before {
  content: "\e309";
}
.i-radiobutton-checked:before {
  content: "\e30a";
}
.i-notification:before {
  content: "\e400";
}
.i-information:before {
  content: "\e401";
}
.i-question:before {
  content: "\e402";
}
.i-warning:before {
  content: "\e403";
}
.i-photo-camera:before {
  content: "\e500";
}
.i-image:before {
  content: "\e501";
}
.i-image-export:before {
  content: "\e502";
}
.i-zoom-actual-size:before {
  content: "\e503";
}
.i-zoom-best-fit:before {
  content: "\e504";
}
.i-image-resize:before {
  content: "\e505";
}
.i-crop:before {
  content: "\e506";
}
.i-mirror:before {
  content: "\e507";
}
.i-flip-horizontal:before {
  content: "\e508";
}
.i-flip-vertical:before {
  content: "\e509";
}
.i-rotate:before {
  content: "\e50a";
}
.i-rotate-right:before {
  content: "\e50b";
}
.i-rotate-left:before {
  content: "\e50c";
}
.i-brush:before {
  content: "\e50d";
}
.i-palette:before {
  content: "\e50e";
}
.i-paint:before {
  content: "\e50f";
}
.i-line:before {
  content: "\e510";
}
.i-brightness-contrast:before {
  content: "\e511";
}
.i-saturation:before {
  content: "\e512";
}
.i-invert-colors:before {
  content: "\e513";
}
.i-transperancy:before {
  content: "\e514";
}
.i-greyscale:before {
  content: "\e515";
}
.i-blur:before {
  content: "\e516";
}
.i-sharpen:before {
  content: "\e517";
}
.i-shape:before {
  content: "\e518";
}
.i-round-corners:before {
  content: "\e519";
}
.i-front-element:before {
  content: "\e51a";
}
.i-back-element:before {
  content: "\e51b";
}
.i-forward-element:before {
  content: "\e51c";
}
.i-backward-element:before {
  content: "\e51d";
}
.i-align-left-element:before {
  content: "\e51e";
}
.i-align-center-element:before {
  content: "\e51f";
}
.i-align-right-element:before {
  content: "\e520";
}
.i-align-top-element:before {
  content: "\e521";
}
.i-align-middle-element:before {
  content: "\e522";
}
.i-align-bottom-element:before {
  content: "\e523";
}
.i-thumbnails-up:before {
  content: "\e524";
}
.i-thumbnails-right:before {
  content: "\e525";
}
.i-thumbnails-down:before {
  content: "\e526";
}
.i-thumbnails-left:before {
  content: "\e527";
}
.i-full-screen:before {
  content: "\e528";
}
.i-full-screen-exit:before {
  content: "\e529";
}
.i-reset-color:before {
  content: "\e52a";
}
.i-page-properties:before {
  content: "\e600";
}
.i-bold:before {
  content: "\e601";
}
.i-italic:before {
  content: "\e602";
}
.i-underline:before {
  content: "\e603";
}
.i-font-family:before {
  content: "\e604";
}
.i-foreground-color:before {
  content: "\e605";
}
.i-convert-lowercase:before {
  content: "\e606";
}
.i-convert-uppercase:before {
  content: "\e607";
}
.i-strikethrough:before {
  content: "\e608";
}
.i-sub-script:before {
  content: "\e609";
}
.i-sup-script:before {
  content: "\e60a";
}
.i-div:before {
  content: "\e60b";
}
.i-all:before {
  content: "\e60c";
}
.i-h1:before {
  content: "\e60d";
}
.i-h2:before {
  content: "\e60e";
}
.i-h3:before {
  content: "\e60f";
}
.i-h4:before {
  content: "\e610";
}
.i-h5:before {
  content: "\e611";
}
.i-h6:before {
  content: "\e612";
}
.i-list-ordered:before {
  content: "\e613";
}
.i-list-unordered:before {
  content: "\e614";
}
.i-indent-increase:before {
  content: "\e615";
}
.i-indent-decrease:before {
  content: "\e616";
}
.i-insert-up:before {
  content: "\e617";
}
.i-insert-middle:before {
  content: "\e618";
}
.i-insert-down:before {
  content: "\e619";
}
.i-align-top:before {
  content: "\e61a";
}
.i-align-middle:before {
  content: "\e61b";
}
.i-align-bottom:before {
  content: "\e61c";
}
.i-align-left:before {
  content: "\e61d";
}
.i-align-center:before {
  content: "\e61e";
}
.i-align-right:before {
  content: "\e61f";
}
.i-align-justify:before {
  content: "\e620";
}
.i-align-remove:before {
  content: "\e621";
}
.i-text-wrap:before {
  content: "\e622";
}
.i-rule-horizontal:before {
  content: "\e623";
}
.i-table-align-top-left:before {
  content: "\e624";
}
.i-table-align-top-center:before {
  content: "\e625";
}
.i-table-align-top-right:before {
  content: "\e626";
}
.i-table-align-middle-left:before {
  content: "\e627";
}
.i-table-align-middle-center:before {
  content: "\e628";
}
.i-table-align-middle-right:before {
  content: "\e629";
}
.i-table-align-bottom-left:before {
  content: "\e62a";
}
.i-table-align-bottom-center:before {
  content: "\e62b";
}
.i-table-align-bottom-right:before {
  content: "\e62c";
}
.i-table-align-remove:before {
  content: "\e62d";
}
.i-borders-all:before {
  content: "\e62e";
}
.i-borders-outside:before {
  content: "\e62f";
}
.i-borders-inside:before {
  content: "\e630";
}
.i-borders-inside-horizontal:before {
  content: "\e631";
}
.i-borders-inside-vertical:before {
  content: "\e632";
}
.i-border-top:before {
  content: "\e633";
}
.i-border-bottom:before {
  content: "\e634";
}
.i-border-left:before {
  content: "\e635";
}
.i-border-right:before {
  content: "\e636";
}
.i-border-no:before {
  content: "\e637";
}
.i-borders-show-hide:before {
  content: "\e638";
}
.i-form:before {
  content: "\e639";
}
.i-form-element:before {
  content: "\e63a";
}
.i-code-snippet:before {
  content: "\e63b";
}
.i-select-all:before {
  content: "\e63c";
}
.i-button:before {
  content: "\e63d";
}
.i-select-box:before {
  content: "\e63e";
}
.i-calendar-date:before {
  content: "\e63f";
}
.i-group-box:before {
  content: "\e640";
}
.i-textarea:before {
  content: "\e641";
}
.i-textbox:before {
  content: "\e642";
}
.i-textbox-hidden:before {
  content: "\e643";
}
.i-password:before {
  content: "\e644";
}
.i-paragraph-add:before {
  content: "\e645";
}
.i-edit-tools:before {
  content: "\e646";
}
.i-template-manager:before {
  content: "\e647";
}
.i-change-manually:before {
  content: "\e648";
}
.i-track-changes:before {
  content: "\e649";
}
.i-track-changes-enable:before {
  content: "\e64a";
}
.i-track-changes-accept:before {
  content: "\e64b";
}
.i-track-changes-accept-all:before {
  content: "\e64c";
}
.i-track-changes-reject:before {
  content: "\e64d";
}
.i-track-changes-reject-all:before {
  content: "\e64e";
}
.i-document-manager:before {
  content: "\e64f";
}
.i-custom-icon:before {
  content: "\e650";
}
.i-dictionary-add:before {
  content: "\e651";
}
.i-image-light-dialog:before {
  content: "\e652";
}
.i-image-edit:before {
  content: "\e653";
}
.i-image-map-editor:before {
  content: "\e654";
}
.i-comment:before {
  content: "\e655";
}
.i-comment-remove:before {
  content: "\e656";
}
.i-comments-remove-all:before {
  content: "\e657";
}
.i-silverlight:before {
  content: "\e658";
}
.i-media-manager:before {
  content: "\e659";
}
.i-video-external:before {
  content: "\e65a";
}
.i-flash-manager:before {
  content: "\e65b";
}
.i-find-and-replace:before {
  content: "\e65c";
}
.i-copy:before {
  content: "\e65d";
}
.i-cut:before {
  content: "\e65e";
}
.i-paste:before {
  content: "\e65f";
}
.i-paste-as-html:before {
  content: "\e660";
}
.i-paste-from-word:before {
  content: "\e661";
}
.i-paste-from-word-strip-file:before {
  content: "\e662";
}
.i-paste-html:before {
  content: "\e663";
}
.i-paste-markdown:before {
  content: "\e664";
}
.i-paste-plain-text:before {
  content: "\e665";
}
.i-apply-format:before {
  content: "\e666";
}
.i-clear-css:before {
  content: "\e667";
}
.i-copy-format:before {
  content: "\e668";
}
.i-strip-all-formating:before {
  content: "\e669";
}
.i-strip-css-format:before {
  content: "\e66a";
}
.i-strip-font-elements:before {
  content: "\e66b";
}
.i-strip-span-elements:before {
  content: "\e66c";
}
.i-strip-word-formatting:before {
  content: "\e66d";
}
.i-format-code-block:before {
  content: "\e66e";
}
.i-style-builder:before {
  content: "\e66f";
}
.i-module-manager:before {
  content: "\e670";
}
.i-hyperlink-light-dialog:before {
  content: "\e671";
}
.i-hyperlink-globe:before {
  content: "\e672";
}
.i-hyperlink-globe-remove:before {
  content: "\e673";
}
.i-hyperlink-email:before {
  content: "\e674";
}
.i-anchor:before {
  content: "\e675";
}
.i-table-light-dialog:before {
  content: "\e676";
}
.i-table:before {
  content: "\e677";
}
.i-table-properties:before {
  content: "\e678";
}
.i-table-cell:before {
  content: "\e679";
}
.i-table-cell-properties:before {
  content: "\e67a";
}
.i-table-column-insert-left:before {
  content: "\e67b";
}
.i-table-column-insert-right:before {
  content: "\e67c";
}
.i-table-row-insert-above:before {
  content: "\e67d";
}
.i-table-row-insert-below:before {
  content: "\e67e";
}
.i-table-column-delete:before {
  content: "\e67f";
}
.i-table-row-delete:before {
  content: "\e680";
}
.i-table-cell-delete:before {
  content: "\e681";
}
.i-table-delete:before {
  content: "\e682";
}
.i-cells-merge:before {
  content: "\e683";
}
.i-cells-merge-horizontally:before {
  content: "\e684";
}
.i-cells-merge-vertically:before {
  content: "\e685";
}
.i-cell-split-horizontally:before {
  content: "\e686";
}
.i-cell-split-vertically:before {
  content: "\e687";
}
.i-table-unmerge:before {
  content: "\e688";
}
.i-pane-freeze:before {
  content: "\e689";
}
.i-row-freeze:before {
  content: "\e68a";
}
.i-column-freeze:before {
  content: "\e68b";
}
.i-toolbar-float:before {
  content: "\e68c";
}
.i-spell-checker:before {
  content: "\e68d";
}
.i-validation-xhtml:before {
  content: "\e68e";
}
.i-validation-data:before {
  content: "\e68f";
}
.i-toggle-full-screen-mode:before {
  content: "\e690";
}
.i-formula-fx:before {
  content: "\e691";
}
.i-sum:before {
  content: "\e692";
}
.i-symbol:before {
  content: "\e693";
}
.i-dollar:before {
  content: "\e694";
}
.i-percent:before {
  content: "\e695";
}
.i-custom-format:before {
  content: "\e696";
}
.i-decimal-increase:before {
  content: "\e697";
}
.i-decimal-decrease:before {
  content: "\e698";
}
.i-font-size:before {
  content: "\e699";
}
.i-image-absolute-position:before {
  content: "\e69a";
}
.i-globe-outline:before {
  content: "\e700";
}
.i-globe:before {
  content: "\e701";
}
.i-marker-pin:before {
  content: "\e702";
}
.i-marker-pin-target:before {
  content: "\e703";
}
.i-pin:before {
  content: "\e704";
}
.i-unpin:before {
  content: "\e705";
}
.i-share:before {
  content: "\e800";
}
.i-user:before {
  content: "\e801";
}
.i-inbox:before {
  content: "\e802";
}
.i-blogger:before {
  content: "\e803";
}
.i-blogger-box:before {
  content: "\e804";
}
.i-delicious:before {
  content: "\e805";
}
.i-delicious-box:before {
  content: "\e806";
}
.i-digg:before {
  content: "\e807";
}
.i-digg-box:before {
  content: "\e808";
}
.i-email:before {
  content: "\e809";
}
.i-email-box:before {
  content: "\e80a";
}
.i-facebook:before {
  content: "\e80b";
}
.i-facebook-box:before {
  content: "\e80c";
}
.i-google:before {
  content: "\e80d";
}
.i-google-box:before {
  content: "\e80e";
}
.i-google-plus:before {
  content: "\e80f";
}
.i-google-plus-box:before {
  content: "\e810";
}
.i-linkedin:before {
  content: "\e811";
}
.i-linkedin-box:before {
  content: "\e812";
}
.i-myspace:before {
  content: "\e813";
}
.i-myspace-box:before {
  content: "\e814";
}
.i-pinterest:before {
  content: "\e815";
}
.i-pinterest-box:before {
  content: "\e816";
}
.i-reddit:before {
  content: "\e817";
}
.i-reddit-box:before {
  content: "\e818";
}
.i-stumble-upon:before {
  content: "\e819";
}
.i-stumble-upon-box:before {
  content: "\e81a";
}
.i-tell-a-friend:before {
  content: "\e81b";
}
.i-tell-a-friend-box:before {
  content: "\e81c";
}
.i-tumblr:before {
  content: "\e81d";
}
.i-tumblr-box:before {
  content: "\e81e";
}
.i-twitter:before {
  content: "\e81f";
}
.i-twitter-box:before {
  content: "\e820";
}
.i-yammer:before {
  content: "\e821";
}
.i-yammer-box:before {
  content: "\e822";
}
.i-behance:before {
  content: "\e823";
}
.i-behance-box:before {
  content: "\e824";
}
.i-dribbble:before {
  content: "\e825";
}
.i-dribbble-box:before {
  content: "\e826";
}
.i-rss:before {
  content: "\e827";
}
.i-rss-box:before {
  content: "\e828";
}
.i-vimeo:before {
  content: "\e829";
}
.i-vimeo-box:before {
  content: "\e82a";
}
.i-youtube:before {
  content: "\e82b";
}
.i-youtube-box:before {
  content: "\e82c";
}
.i-folder:before {
  content: "\e900";
}
.i-folder-open:before {
  content: "\e901";
}
.i-folder-add:before {
  content: "\e902";
}
.i-folder-up:before {
  content: "\e903";
}
.i-folder-more:before {
  content: "\e904";
}
.i-aggregate-fields:before {
  content: "\e905";
}
.i-file:before {
  content: "\e906";
}
.i-file-add:before {
  content: "\e907";
}
.i-file-txt:before {
  content: "\e908";
}
.i-file-csv:before {
  content: "\e909";
}
.i-file-excel:before {
  content: "\e90a";
}
.i-file-word:before {
  content: "\e90b";
}
.i-file-mdb:before {
  content: "\e90c";
}
.i-file-ppt:before {
  content: "\e90d";
}
.i-file-pdf:before {
  content: "\e90e";
}
.i-file-psd:before {
  content: "\e90f";
}
.i-file-flash:before {
  content: "\e910";
}
.i-file-config:before {
  content: "\e911";
}
.i-file-ascx:before {
  content: "\e912";
}
.i-file-bac:before {
  content: "\e913";
}
.i-file-zip:before {
  content: "\e914";
}
.i-film:before {
  content: "\e915";
}
.i-css3:before {
  content: "\e916";
}
.i-html5:before {
  content: "\e917";
}
.i-html:before {
  content: "\e918";
}
.i-css:before {
  content: "\e919";
}
.i-js:before {
  content: "\e91a";
}
.i-exe:before {
  content: "\e91b";
}
.i-csproj:before {
  content: "\e91c";
}
.i-vbproj:before {
  content: "\e91d";
}
.i-cs:before {
  content: "\e91e";
}
.i-vb:before {
  content: "\e91f";
}
.i-sln:before {
  content: "\e920";
}
.i-cloud:before {
  content: "\e921";
}
.i-file-horizontal:before {
  content: "\e922";
}
